body {
    background-color: rgb(131, 36, 36);
    font-family: arial;
}

main {
    background-color: white;
    margin: 100px auto;
    padding: 30px;
    width: 700px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow:  5px 5px 5px #ff0000, -5px -5px 5px #ff0000;
    display: flex;
    flex-direction: column;
}

input {
    height: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.user {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.form__firstName, .form__lastName {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__phone {
    display: flex;
    flex-direction: column;
}

.form__adresse {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.adresse__street {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.adresse__codePostal, .adresse__town {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.error_message {
    color: blue;
    font-style: italic;
    font-size: 10pt;
    display: none;
}

.pizza__size {
    display: flex;
    justify-content: space-around;
}

p {
    font-size: 10pt;
    font-style: italic;
}

textarea {
    resize: none;
}

button {
    background-color: rgb(131, 36, 36);
    border: none;
    height: 40px;
    color: white;
}