main {
    margin: 100px auto;
    padding: 10px;
    width: 600px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
}

div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0px;
    padding: 2px 2px;
    width: 270px;
}

.error_message {
    color: red;
    font-style: italic;
    font-size: 10pt;
    display: none;
}

input {
    height: 20px;
}

.password {
    width: 100%;
}

.form__submit {
    width: 100%;
    margin: 0px 100px;
}

.reset {
    margin: 0px 200px;
}